<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Builder</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600&display=swap"
        rel="stylesheet"
    />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #121212; /* Darker background */
            color: #f0f0f0; /* Light text color */
            font-family: "Poppins", sans-serif;
        }

        nav {
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(22, 126, 69, 0.9);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            padding: 0 20px;
        }

        .heading {
            display: flex;
            align-items: center;
        }

        .logo {
            height: 45px;
            margin-right: 10px;
        }

        .brand-name {
            font-size: 1.3rem;
            font-weight: 400;
        }

        nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav ul li {
            margin: 0 15px;
            list-style: none;
            font-weight: 300;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            transition: color 0.3s ease;
        }

        nav ul li a:hover {
            color: rgb(91, 220, 80);
        }

        .home {
            position: relative;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 20px;
            background: url("./views/doodles.png") no-repeat center center;
            background-size: cover;
            filter: brightness(0.8); /* Slightly darken background */
        }

        .intro {
            position: relative;
            z-index: 2;
            padding: 20px;
            border-radius: 10px;
        }

        .line1 {
            font-size: 1.5rem;
        }

        .line2 {
            font-size: 4rem;
            font-weight: 600;
            color: rgb(91, 220, 80);
        }

        .typed-cursor {
            visibility: hidden;
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            z-index: 2;
        }

        .buttons form {
            margin: 0 10px;
        }

        .buttons button {
            padding: 15px 25px;
            background-color: rgb(91, 220, 80);
            color: black;
            border: 1px solid rgba(0, 0, 0, 0.2);
            font-family: "Poppins";
            font-weight: 800;
            font-size: 1.3rem;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .buttons button:hover {
            background-color: rgb(75, 180, 65);
            box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.2); /* Increased spread */

        }

        .buttons button:active {
            background-color: rgb(60, 150, 55);
            transform: translateY(1px);
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: hidden; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.4); /* Black with opacity */
            padding-top: 60px; /* Position close button */
            justify-content: center;
            align-items: center;
            color: black;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            max-width: 95%; /* Limit width for smaller screens */
            width: 800px; /* Fixed width for larger screens */
            border-radius: 10px;
            display: flex; /* Use flexbox for layout */
            flex-wrap: wrap; /* Wrap items to next line if needed */
            justify-content: space-around; /* Space items evenly */
            position: relative;
            text-align: center;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }

        .member-info {
            margin-bottom: 20px;
            width: calc(50% - 20px); /* Adjust width for two columns */
            padding: 10px;
            border: 5px solid #ccc; /* Border for distinction */
            border-radius: 15px;
        }

        .member-info:nth-child(odd) {
            margin-right: 20px; /* Add margin between items */
        }

        .member-info:last-child {
            margin: 0; /* Remove margin for the last item */
            width: 100%; /* Full width for the last item */
        }

        .member-info:nth-last-child(2) {
            margin-right: 0; /* Remove margin for the second last item */
        }

        .member-name {
            font-size: 1.2rem;
            font-weight: bold;
            align-items: center;
        }

        .member-email,
        .member-linkedin,
        .member-github {
            margin-top: 5px;
            display: flex;
            align-items: center;
        }

        .member-email{
            text-align: center;
        }

        img {
            height: 30px;
            margin: 3px;
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 768px) {
            .modal-content {
                width: 95%; /* Adjust width for smaller screens */
                max-width: 100%; /* Full width for smaller screens */
            }

            .member-info {
                width: 100%; /* Full width for smaller screens */
                margin-right: 0; /* Remove margin for smaller screens */
                color: black;
            }

            .brand-name {
                font-size: 1.5rem;
            }

            .line2 {
                font-size: 3rem;
            }

            .buttons {
                flex-direction: column;
            }

            .buttons form {
                margin: 10px 0;
            }
        }

        @media (max-width: 480px) {
            nav {
                flex-direction: column;
                height: auto;
            }

            nav ul {
                flex-direction: column;
            }

            nav ul li {
                margin: 10px 0;
            }

            .home {
                padding: 0 10px;
            }

            .line2 {
                font-size: 2rem;
            }

            .buttons button {
                padding: 10px 15px;
            }
        }
    </style>
</head>
<body>
<header>
    <nav>
        <div class="heading">
            <div class="brand-name">---username here---</div>
        </div>
        <div class="options">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#" id="aboutUsLink">About Us</a></li>
              
                <li><a href="#" id="contactUsLink">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="home">
    <div class="intro">
        <div class="line1">Build your first Resume with our</div>
        <div class="line2">Resume Builder</div>
        <div class="line3"> For <span id="element"></span> </div>
    </div>
    <div class="buttons">
        <form action="/create" method="GET">
            <button>Build Now</button>
        </form>
    </div>
</section>

<!-- Modal Section -->
<div id="aboutUsModal" class="modal">
    <div class="modal-content">
        <!-- Member 1 -->
        <div class="member-info">
            <div class="member-name">Ayush Khairnar</div>
            <div class="member-email"><img src="./email.png" alt="">ayushkhairnar06@gmail.com</div>
            <div class="icons">
                <div class="member-linkedin"><a href="https://www.linkedin.com/in/ayush-khairnar-300517249/"><img src="./linkedin.png" alt=""></a></div>
                <div class="member-github"><a href="https://github.com/TechNinjaAyush"><img src="./github.png" alt=""></a></div>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="member-info">
            <div class="member-name">Ayush Wattamwar</div>
            <div class="member-email"><img src="./email.png" alt="">ayushwattamwar27@gmail.com</div>
            <div class="icons">
                <div class="member-linkedin"><a href="https://www.linkedin.com/in/ayush-wattamwar-32534524b/"><img src="./linkedin.png" alt=""></a></div>
                <div class="member-github"><a href="https://github.com/AshWatts"><img src="./github.png" alt=""></a></div>
            </div>
        </div>

        <!-- Member 3 -->
        <div class="member-info">
            <div class="member-name">Soham Phatak</div>
            <div class="member-email"><img src="./email.png" alt="">sohamphatakssp@gmail.com</div>
            <div class="icons">
                <div class="member-linkedin"><a href="https://www.linkedin.com/in/soham-phatak/"><img src="./linkedin.png" alt=""></a></div>
                <div class="member-github"><a href="https://github.com/LonerWarlock"><img src="./github.png" alt=""></a></div>
            </div>
        </div>

        <!-- Member 4 -->
        <div class="member-info">
            <div class="member-name">Sohan Choudhary</div>
            <div class="member-email"><img src="./email.png" alt="">sohanabc4@gmail.com</div>
            <div class="icons">
                <div class="member-linkedin"><a href="https://www.linkedin.com/in/sohan-choudhary-1649501b3/"><img src="./linkedin.png" alt=""></a></div>
                <div class="member-github"><a href="https://github.com/Alphadexter17"><img src="./github.png" alt=""></a></div>
            </div>
        </div>

        <!-- Member 5 -->
        <div class="member-info">
            <div class="member-name">Tejas Tanavade</div>
            <div class="member-email"><img src="./email.png" alt="">tejastanavade12@gmail.com</div>
            <div class="icons">
                <div class="member-linkedin"><a href="http://www.linkedin.com/in/tejas-tanavade-717818259"><img src="./linkedin.png" alt=""></a></div>
                <div class="member-github"><a href="https://github.com/tantejas"><img src="./github.png" alt=""></a></div>
            </div>
        </div>

        <div class="member-info" style="border: white"></div>
    </div>
</div>

<script>
    // Modal script
    var aboutUsModal = document.getElementById("aboutUsModal");
    var aboutUsLink = document.getElementById("aboutUsLink");

    aboutUsLink.onclick = function () {
        aboutUsModal.style.display = "flex";
    };

    window.onclick = function (event) {
        if (event.target == aboutUsModal) {
            aboutUsModal.style.display = "none";
        }
    };
</script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed("#element", {
        strings: [
          "a Developer",
          "an AI/ML Aspirant",
          "a Data Scientist",
          "a Project Manager",
          "an Engineer",
        ],
        typeSpeed: 100,
      });
    </script>
</body>
</html>
